.filter-button {
    position:absolute;
    font-family: "helvetica", sans-serif;
    font-size: 1em;
    color: black;
    border:solid;
    border-color:limegreen;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }

.artist-container{
  display:flex;
  justify-content:space-around;
  margin-top:10%;
  margin-left:2%;
}

